@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h5>        
        This project implemented by Asp.Net 5 and MongoDB
    </h5>
</div>
